micronaut:
  application:
    name: coralsum
  server:
    max-request-size: 73400320
    multipart:
      enabled: true
      max-file-size: 52428800
    netty:
      access-logger:
        enabled: true
        logger-name: request-access
        log-format: common
    port: 8080
    cors:
      enabled: true
      configurations:
        web:
          allowed-origins:
            - "*"
          allowed-methods:
            - "*"
          allowed-headers:
            - "*"
          max-age: 3600
  http:
    client:
      read-timeout: 5m
  metrics:
    enabled: true
  object-storage:
    local:
      default:
        enabled: false
        path: ${user.dir}/s3
    aws:
      default:
        enabled: true
        bucket: mac-nano
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      static:
        enabled: true
        paths: classpath:public
        mapping: /**
  caches:
    storage-path: ${user.dir}/caches
    generate-task-result:
      expire-after-access: 5m
      heap:
        max-size: 100Mb
      offheap:
        max-size: 250Mb
      disk:
        max-size: 500Mb
    generate-task-statue:
      expire-after-access: 5m
      heap:
        max-size: 100Mb
      offheap:
        max-size: 500Mb
      disk:
        max-size: 1Gb
  security:
    authentication: bearer
    reject-not-found: false
    redirect:
      enabled: false
    basic-auth:
      enabled: true
      www-authenticate: false
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: gH7sK92ns8DkPw93Jdls82bnSd92Ks82
              jws-algorithm: HS256
      generator:
        access-token:
          expiration: 43200
    endpoints:
      login:
        enabled: true
        path: /api/auth/login
    intercept-url-map:
      - pattern: /swagger/*
        access:
          - isAnonymous()
      - pattern: /mn-os/*
        access:
          - isAnonymous()
      - pattern: /favicon.ico
        access:
          - isAnonymous()
      - pattern: /dashboard
        access:
          - isAnonymous()
      - pattern: /assets/**
        access:
          - isAnonymous()
      - pattern: /favicon.svg
        access:
          - isAnonymous()
      - pattern: "/"
        access:
          - isAnonymous()
  serde:
    serialization:
      inclusion: always
    deserialization:
      accept-case-insensitive-enums: true
    date-format: yyyy-MM-dd HH:mm:ss
    property-naming-strategy: SNAKE_CASE
  email:
    from:
      email: noreply@spcookie.top
datasources:
  default:
    url: jdbc:h2:file:${store.base}/store/data;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ''
    driver-class-name: org.h2.Driver
r2dbc:
  datasources:
    default:
      dialect: H2
      url: r2dbc:h2:file:///${store.base}/store/data;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password: ''
flyway:
  datasources:
    default:
      enabled: true
#logger:
#  levels:
#    io.micronaut.data.query: DEBUG
#    io.r2dbc.h2: DEBUG
#    org.h2.jdbc: DEBUG
problem:
  stack-trace: false
jobrunr:
  job-scheduler:
    enabled: true
  background-job-server:
    enabled: true
  dashboard:
    enabled: true
aws:
  region: aws-global
  services:
    s3:
      endpoint-override: ${oss.endpoint}
  s3:
    path-style-access-enabled: false
    chunked-encoding-enabled: false
resilience4j:
  ratelimiter:
    enabled: true
    configs:
      default:
        # 一分钟最多 60 次
        limitForPeriod: 10
        limitRefreshPeriod: 10s
        timeoutDuration: 0s
        eventConsumerBufferSize: 100
    instances:
      callGenerateImage:
        baseConfig: default
preview:
  ttlSeconds: 1500
pricing:
  usd-to-cny: 7
  coefficient: 1
  points-per-rmb: 100
  flash-lite:
    tokens-per-char: 1
    input-usd-per-m-tokens: 0.10
    output-usd-per-m-tokens: 0.40
  image-preview:
    tokens-per-mb: 2500
  pro:
    input-usd-per-m-tokens: 2.0
    thoughts-usd-per-m-tokens: 12.0
    output-usd-per-m-tokens: 120.0
    price-per-image-1k2k-usd: 0.134
    price-per-image-4k-usd: 0.24
  basic:
    input-usd-per-m-tokens: 0.30
    output-usd-per-m-tokens: 30.0
    output-price-per-image-1k-usd: 0.039
  oss:
    idle-rmb-per-gb: 0.25
    busy-rmb-per-gb: 0.50
    busy-start-hour: 8
    busy-end-hour: 24
  traffic:
    nat-rmb-per-gb: 1.1
    proxy-rmb-per-gb: 1.6
    visit-multiplier: 4
  estimate:
    png-bytes1-k: 800000
    png-bytes2-k: 1600000
    png-bytes4-k: 3500000
    jpg-bytes1-k: 500000
    jpg-bytes2-k: 1100000
    jpg-bytes4-k: 2200000
  upscayl:
    enabled: true
    charge-by-scale: true
