micronaut:
  application:
    name: coralsum
  server:
    max-request-size: 73400320
    multipart:
      enabled: true
      max-file-size: 52428800
    netty:
      access-logger:
        enabled: true
        logger-name: request-access
        log-format: common
    port: 8080
    cors:
      enabled: true
      configurations:
        web:
          allowed-origins:
            - "*"
          allowed-methods:
            - "*"
          allowed-headers:
            - "*"
          max-age: 3600
  http:
    client:
      read-timeout: 5m
  metrics:
    enabled: true
  object-storage:
    local:
      default:
        enabled: false
        path: ${user.dir}/s3
    aws:
      default:
        enabled: true
        bucket: mac-nano
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      static:
        paths: classpath:static
        mapping: /**
  caches:
    generate-task-result:
      expire-after-access: 5m
    generate-task-statue:
      expire-after-access: 5m
  security:
    authentication: bearer
    reject-not-found: true
    redirect:
      enabled: false
    basic-auth:
      enabled: true
      www-authenticate: false
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: gH7sK92ns8DkPw93Jdls82bnSd92Ks82
              jws-algorithm: HS256
      generator:
        access-token:
          expiration: 43200
    endpoints:
      login:
        enabled: true
        path: /api/auth/login
    intercept-url-map:
      - pattern: /swagger/*
        access:
          - isAnonymous()
      - pattern: /mn-os/*
        access:
          - isAnonymous()
      - pattern: /favicon.ico
        access:
          - isAnonymous()
      - pattern: /dashboard
        access:
          - isAnonymous()
      - pattern: /assets/**
        access:
          - isAnonymous()
      - pattern: /index.html
        access:
          - isAnonymous()
  serde:
    serialization:
      inclusion: always
    deserialization:
      accept-case-insensitive-enums: true
    date-format: yyyy-MM-dd HH:mm:ss
    property-naming-strategy: SNAKE_CASE
datasources:
  default:
    url: jdbc:h2:file:${store.base}/store/data;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ''
    driver-class-name: org.h2.Driver
r2dbc:
  datasources:
    default:
      dialect: H2
      url: r2dbc:h2:file:///${store.base}/store/data;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password: ''
flyway:
  datasources:
    default:
      enabled: true
logger:
  levels:
    io.micronaut.data.query: DEBUG
    io.r2dbc.h2: DEBUG
    org.h2.jdbc: DEBUG
jobrunr:
  job-scheduler:
    enabled: true
  background-job-server:
    enabled: true
  dashboard:
    enabled: true
aws:
  region: aws-global
  services:
    s3:
      endpoint-override: ${oss.endpoint}
  s3:
    path-style-access-enabled: false
    chunked-encoding-enabled: false
resilience4j:
  ratelimiter:
    enabled: true
    configs:
      default:
        # 一分钟最多 60 次
        limitForPeriod: 10
        limitRefreshPeriod: 10s
        timeoutDuration: 0s
        eventConsumerBufferSize: 100
    instances:
      callGenerateImage:
        baseConfig: default
preview:
  ttlSeconds: 1500